{% extends "base.html" %}
{% block content %}
<h1 style="color:blueviolet">Create a Blog Entry</h1>
<form method="post">
    <table>
        <tr>
        <label>
            <td>Create a catchy title:</td>
            <td>
                <input name="title" type="text" value="{{ title }}">
                <span class="error">{{ title_error }}</span>
            </td>
        </label>
        </tr>
        <tr>
        <label>
            <td>Your new blog!:</td>
            <td>
                <input name="body" type="text" value="{{ body }}">
                <span class="error">{{ body_error }}</span>
            </td>
        </label>
        </tr>
        
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}